Repository prehor/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - ansible/**/*
          - scripts/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - .sops.yaml
          - kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile*
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/storage/**/*
          - kubernetes/storage/**/*

fix(home-assistant): update HASS 2025.3 default MQTT topics
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
Labels: area/kubernetes, cluster/main

feat(helm): update manifests from v1beta1 to v1 prior to updating from v0.16 to v0.17
  kubernetes/main/apps/database/cloudnative-pg/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/emqx/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/home-automation/ebusd/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/ebusd/app/secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/emqx-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/postgres-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/secretstore.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-dburl-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-recorder-initdb-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/secret.yaml
  kubernetes/main/apps/storage/volsync/secret-store/clustersecretstore.yaml
  kubernetes/main/components/volsync/backblaze/externalsecret.yaml
  kubernetes/main/components/volsync/minio/externalsecret.yaml
Labels: area/kubernetes, cluster/main

feat(helm): update manifests from v1beta1 to v1 prior to updating from v0.16 to v0.17
  kubernetes/main/apps/database/cloudnative-pg/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/emqx/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/home-automation/ebusd/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/ebusd/app/secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/emqx-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/postgres-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/secretstore.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-dburl-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-recorder-initdb-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/secret.yaml
  kubernetes/main/apps/storage/volsync/secret-store/clustersecretstore.yaml
  kubernetes/main/components/volsync/backblaze/externalsecret.yaml
  kubernetes/main/components/volsync/minio/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(config): migrate renovate config
  .github/renovate/automerge.json5
  .github/renovate/clusters.json5
  .github/renovate/commit-messages.json5
  .github/renovate/custom-managers.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/versioning.json5
  .renovate/automerge.json5
  .renovate/clusters.json5
  .renovate/commit-messages.json5
  .renovate/custom-managers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/versioning.json5
  .renovaterc.json5
  .vscode/settings.json
Labels: area/github

feat(config): improve renovate config
  .renovate/allowedversions.json5
  .renovate/automerge.json5
  .renovate/clusters.json5
  .renovate/commit-messages.json5
  .renovate/custom-managers.json5
  .renovate/groups.json5
  .renovate/versioning.json5
  .renovaterc.json5
Labels: none

feat(config): improve renovate config
  .renovate/allowedversions.json5
  .renovate/automerge.json5
  .renovate/clusters.json5
  .renovate/commit-messages.json5
  .renovate/custom-managers.json5
  .renovate/groups.json5
  .renovate/versioning.json5
  .renovaterc.json5
Labels: none

chore(config): migrate renovate config
  .github/renovate/automerge.json5
  .github/renovate/clusters.json5
  .github/renovate/commit-messages.json5
  .github/renovate/custom-managers.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/versioning.json5
  .renovate/automerge.json5
  .renovate/clusters.json5
  .renovate/commit-messages.json5
  .renovate/custom-managers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/versioning.json5
  .renovaterc.json5
  .vscode/settings.json
Labels: area/github

chore(cert-manager) switch to official oci
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/jetstack.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(renovate): disable pinDigests
  .renovate/versioning.json5
Labels: none

fix(renovate): disable pinDigests
  kubernetes/main/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main

chore(cert-manager) switch to official oci
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/jetstack.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(ebusd): fix typo
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(task): show OCI repositories
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

chore(home-assistant): beautify yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(renovate): disable pinDigests
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

feat(flux): disable chart digest pinning, improve performance
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

chore(flux): update to flux 2.6.0 api versions
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

feat(flux): disable chart digest pinning, improve performance
  kubernetes/main/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main

chore(flux): update to flux 2.6.0 api versions
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

feat(flux): disable chart digest pinning, improve performance
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

Revert: chore(flux): update to flux 2.6.0 api versions
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

feat(flux): disable chart digest pinning, improve performance
  kubernetes/main/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main

chore(flux): update to flux 2.6.0 api versions
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/flux/config/flux.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

cfeat! remove .devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Labels: none

chore(flux): update to flux 2.6.0 api versions
  kubernetes/common/flux/repositories/helm/external-secrets.yaml
  kubernetes/common/flux/repositories/helm/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cilium): switch to official oci
  kubernetes/common/flux/repositories/helm/cilium.yaml
  kubernetes/common/flux/repositories/helm/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(external-secrets): switch to official oci
  kubernetes/common/flux/repositories/helm/external-secrets.yaml
  kubernetes/common/flux/repositories/helm/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/kube-vip/kube-vip (v0.9.1 → v0.9.2)"
  ansible/storage/playbooks/templates/custom-kube-vip-ds.yaml
  kubernetes/storage/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

feat(k8s-gateway): switch to maintained fork
  kubernetes/main/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/storage/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "feat(deps): update chart ingress-nginx (4.12.3 → 4.13.0)"
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(ingress-nginx): add proxy-busy-buffers-size configuration to service annotations
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(ingress-nginx): add proxy-busy-buffers-size configuration to service annotations
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(ingress-nginx): add proxy-busy-buffers-size configuration
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ingress-nginx): add proxy-busy-buffers-size configuration
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-nginx): add use-forwarded-headers:configuration
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(ingress-nginx): add use-forwarded-headers:configuration
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(ebusd): unlock volsync backend repository
  kubernetes/main/apps/home-automation/ebusd/ks.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative_pg): chore(cloudnative_pg): fix cluster name of scheduled backups
  kubernetes/main/apps/database/cloudnative-pg/cluster/postgres17.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative_pg): destroy cluster postgres17
  kubernetes/main/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): switch to SQLite
  kubernetes/main/apps/home-automation/external-secrets/secrets/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/secret.yaml
Labels: area/kubernetes, cluster/main
