Repository prehor/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/storage

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-dburl-secret.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-deploy-key.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(rook-ceph): increase rook-ceph-mon memory limit
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(rook-ceph): increase rook-ceph-mon memory limit
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(cloudnative-pg): fix postgres-db-manager user permissions
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/external-secrets/ks.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/mqtt-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/postgres-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/secretstore.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-deploy-key.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-dburl-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-recorder-initdb-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-recorder-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/namespace.yaml
Labels: area/kubernetes, cluster/main

feat(rook-ceph): disable cephFileSystems and cephObjectStores
  kubernetes/main/apps/storage/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(cert-manager): use DNS-over-HTTPS
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(rook-ceph): increase rook-ceph-mon memory limit
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(README.md): minor updates
  README.md
Labels: area/docs

feat: add generic-device-plugin
  kubernetes/main/apps/kube-system/generic-device-plugin/app/configmap.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant): enable probes
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(home-assistant): remove init container debugging
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant): correct latitude and longitude format
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): move system_logger setting to hass-config repository
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): get access to nabucasa-skyconnect
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/configmap.yaml
Labels: area/kubernetes, cluster/main

feat(generic-device-plugin): set pod priority and tolerations
  kubernetes/main/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(home-assistant): move annotations to defaultPodOptions
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(home-assistant): remove init container debugging
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant): enable probes
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): node affinity with nabucasa-skyconnect usb device
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant): correct latitude and longitude format
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat: add generic-device-plugin
  kubernetes/main/apps/kube-system/generic-device-plugin/app/configmap.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): allocate nabucasa-skyconnect usb device
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(flux-webhook): add missing tls config
  kubernetes/main/apps/flux-system/webhooks/app/github/ingress.yaml
  kubernetes/storage/apps/flux-system/webhooks/app/github/ingress.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: helmrelease files style unification
  kubernetes/main/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(coredns): add autoscaler
  kubernetes/main/apps/kube-system/coredns/autoscaler/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/autoscaler/kustomization.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/flux/repositories/helm/cluster-proportional-autoscaler.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): add code-server container
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add private folders to .gitignore
  .gitignore
Labels: none

feat: remove generic-device-plugin
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/configmap.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(cloudnative-pg): change primary update method to switchover
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/main

fix(ansible): get rid of Python discovery warning
  ansible.cfg
Labels: none

feat(ansible): reboot only if needed
  ansible/main/playbooks/cluster-prepare.yaml
  ansible/storage/playbooks/cluster-prepare.yaml
Labels: area/ansible, cluster/main, cluster/storage

feat(ansible): rolling restart of cluster nodes
  ansible/main/playbooks/cluster-prepare.yaml
  ansible/storage/playbooks/cluster-prepare.yaml
Labels: area/ansible, cluster/main, cluster/storage

feat(home-assistant): attach usb devices over IP
  ansible/main/playbooks/cluster-prepare.yaml
  ansible/storage/playbooks/cluster-prepare.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

feat(k8s-gateway): increase number of replicas
  kubernetes/main/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - ansible/**/*
          - scripts/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - .sops.yaml
          - kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile*
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/storage/**/*
          - kubernetes/storage/**/*
