Repository prehor/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - ansible/**/*
          - scripts/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - .sops.yaml
          - kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile*
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/storage/**/*
          - kubernetes/storage/**/*

feat: add rook-ceph
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs/ks.yaml
  kubernetes/main/apps/storage/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/app/kustomization.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/cephobjectstoreuser.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/kustomization.yaml
  kubernetes/main/apps/storage/rook-ceph/ks.yaml
  kubernetes/main/apps/storage/snapshot-controller/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/rook-ceph.yaml
Labels: area/kubernetes, cluster/main

fix(multus): resources
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: add node-feature-discovery
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/rules/nabucasa-skyconnect-device.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes, cluster/main

feat: add descheduler
  kubernetes/main/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/main/apps/kube-system/descheduler/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/flux/repositories/helm/descheduler.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(ingress-nginx): redirect http to https
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/network/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(rook-ceph): fix ingress class name
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ingress-nginx): switch to production certificates
  kubernetes/main/apps/network/ingress-nginx/certificates/kustomization.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/network/ingress-nginx/certificates/kustomization.yaml
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: add minio
  .github/renovate/clusters.json5
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/minio/ks.yaml
  kubernetes/main/flux/config/cluster.yaml
  kubernetes/storage/apps/storage/kustomization.yaml
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/app/kustomization.yaml
  kubernetes/storage/apps/storage/minio/ks.yaml
  kubernetes/storage/apps/storage/minio/secrets/kustomization.yaml
  kubernetes/storage/apps/storage/minio/secrets/secret.sops.yaml
  kubernetes/storage/flux/config/cluster.yaml
  kubernetes/storage/flux/vars/cluster-secrets.sops.yaml
Labels: area/github, area/kubernetes, cluster/main, cluster/storage

feat(cert-manager): add selfsigned cluster issuer for webhooks
  kubernetes/main/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/main/apps/kube-system/k8tz/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/k8tz/app/kustomization.yaml
  kubernetes/main/apps/kube-system/k8tz/app/pki.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/pki.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/storage/apps/kube-system/k8tz/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/k8tz/app/kustomization.yaml
  kubernetes/storage/apps/kube-system/k8tz/app/pki.yaml
  kubernetes/storage/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/storage/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/storage/apps/storage/snapshot-controller/app/pki.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: add external-secrets
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/ks.yaml
  kubernetes/main/apps/security/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/namespace.yaml
  kubernetes/main/flux/repositories/helm/external-secrets.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(minio): remove unnecessary config
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/secrets/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

feat: add volsync
  kubernetes/main/apps/security/external-secrets/stores/storage-secrets/clustersecretstore.yaml
  kubernetes/main/apps/security/external-secrets/stores/storage-secrets/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/storage-secrets/serviceaccount.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs/app/local-database-sc.yaml
  kubernetes/main/apps/storage/storage-secrets/ks.yaml
  kubernetes/main/apps/storage/storage-secrets/rbac/kustomization.yaml
  kubernetes/main/apps/storage/storage-secrets/rbac/role.yaml
  kubernetes/main/apps/storage/storage-secrets/rbac/rolebinding.yaml
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/main/apps/storage/volsync/app/kustomization.yaml
  kubernetes/main/apps/storage/volsync/app/secret.sops.yaml
  kubernetes/main/apps/storage/volsync/ks.yaml
  kubernetes/main/flux/repositories/helm/backube.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/templates/volsync/kustomization.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
  kubernetes/main/templates/volsync/minio/kustomization.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/storage/apps/storage/openebs/app/local-database-sc.yaml
  kubernetes/storage/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: add sandbox
  kubernetes/main/apps/sandbox/code-server/app/helmrelease.yaml
  kubernetes/main/apps/sandbox/code-server/app/kustomization.yaml
  kubernetes/main/apps/sandbox/code-server/ks.yaml
  kubernetes/main/apps/sandbox/kustomization.yaml
  kubernetes/main/apps/sandbox/namespace.yaml
Labels: area/kubernetes, cluster/main

fix(minio): remove unnecessary config
  .github/renovate/clusters.json5
  kubernetes/main/apps/storage/minio/ks.yaml
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/secrets/secret.sops.yaml
Labels: area/github, area/kubernetes, cluster/main, cluster/storage

fix(github_workflows): fix kubeconform path for multi-cluster repository
  .github/workflows/kubeconform.yaml
Labels: area/github

fix(renovate): add rook-ceph group
  .github/renovate/groups.json5
Labels: area/github

feat: add volsync
  .taskfiles/Volsync/Taskfile.yaml
  .taskfiles/Volsync/scripts/wait-for-job.sh
  .taskfiles/Volsync/scripts/which-controller.sh
  .taskfiles/Volsync/templates/list.tmpl.yaml
  .taskfiles/Volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/Volsync/templates/unlock.tmpl.yaml
  .taskfiles/Volsync/templates/wipe.tmpl.yaml
  Taskfile.yaml
  kubernetes/main/apps/security/external-secrets/stores/volsync-secrets/clustersecretstore.yaml
  kubernetes/main/apps/security/external-secrets/stores/volsync-secrets/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/volsync-secrets/serviceaccount.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs/app/local-database-sc.yaml
  kubernetes/main/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/main/apps/storage/volsync/app/kustomization.yaml
  kubernetes/main/apps/storage/volsync/app/role.yaml
  kubernetes/main/apps/storage/volsync/app/rolebinding.yaml
  kubernetes/main/apps/storage/volsync/app/secret.sops.yaml
  kubernetes/main/apps/storage/volsync/ks.yaml
  kubernetes/main/flux/repositories/helm/backube.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/templates/volsync/backblaze/externalsecret.yaml
  kubernetes/main/templates/volsync/backblaze/kustomization.yaml
  kubernetes/main/templates/volsync/backblaze/replicationsource.yaml
  kubernetes/main/templates/volsync/kustomization.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
  kubernetes/main/templates/volsync/minio/kustomization.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/storage/apps/storage/openebs/app/local-database-sc.yaml
  kubernetes/storage/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/storage

fix(taskfiles) fix siderolabs tap
  .taskfiles/Workstation/Brewfile
Labels: area/taskfile

add cloudnative-pg
  .github/renovate/custom-managers.json5
  .github/renovate/versioning.json5
  kubernetes/main/apps/database/cloudnative-pg/README.md
  kubernetes/main/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/app/role.yaml
  kubernetes/main/apps/database/cloudnative-pg/app/rolebinding.yaml
  kubernetes/main/apps/database/cloudnative-pg/app/secret.sops.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/imagecatalog.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/main/apps/database/cloudnative-pg/ks.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/database/namespace.yaml
  kubernetes/main/apps/database/pgadmin4/README.md
  kubernetes/main/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/stores/postgres-secrets/clustersecretstore.yaml
  kubernetes/main/apps/security/external-secrets/stores/postgres-secrets/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/postgres-secrets/serviceaccount.yaml
  kubernetes/main/apps/storage/openebs/app/local-database-sc.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/main

feat(descheduler): high availability
  kubernetes/main/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(rook-ceph): tune resources requests
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(openebs): set the recordsize to 32kB for the local-database storage class
  kubernetes/main/apps/storage/openebs/app/local-database-sc.yaml
  kubernetes/storage/apps/storage/openebs/app/local-database-sc.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

afeat(minio): add server-side-encryption
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/app/kustomization.yaml
  kubernetes/storage/apps/storage/minio/app/secret.sops.yaml
  kubernetes/storage/apps/storage/minio/kes/configmap.yaml
  kubernetes/storage/apps/storage/minio/kes/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/kes/kustomization.yaml
  kubernetes/storage/apps/storage/minio/kes/pki.yaml
  kubernetes/storage/apps/storage/minio/ks.yaml
Labels: area/kubernetes, cluster/storage

fix(volsync): update minio access key
  kubernetes/main/apps/storage/volsync/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(volsync): refactor secret-store
  kubernetes/main/apps/security/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/volsync-secrets/serviceaccount.yaml
  kubernetes/main/apps/storage/volsync/app/kustomization.yaml
  kubernetes/main/apps/storage/volsync/app/role.yaml
  kubernetes/main/apps/storage/volsync/app/rolebinding.yaml
  kubernetes/main/apps/storage/volsync/ks.yaml
  kubernetes/main/apps/storage/volsync/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/storage/volsync/secret-store/kustomization.yaml
  kubernetes/main/apps/storage/volsync/secret-store/rbac.yaml
  kubernetes/main/apps/storage/volsync/secret-store/secret.sops.yaml
  kubernetes/main/templates/volsync/backblaze/externalsecret.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
Labels: area/kubernetes, cluster/main

feat: add dragonfly
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/app/rbac.yaml
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/main/apps/database/dragonfly/ks.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/rbac.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/secret.sops.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/database/namespace.yaml
Labels: area/kubernetes, cluster/main

feat: add cloudnative-pg
  .github/renovate/versioning.json5
  kubernetes/main/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/imagecatalog.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/secret.sops.yaml
  kubernetes/main/apps/database/cloudnative-pg/ks.yaml
  kubernetes/main/apps/database/cloudnative-pg/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/cloudnative-pg/secret-store/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/secret-store/rbac.yaml
  kubernetes/main/apps/database/cloudnative-pg/secret-store/secret.sops.yaml
  kubernetes/main/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/main

chore(dragonfly): rename external secret to redis-secret
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/rbac.yaml
  kubernetes/main/apps/database/dragonfly/secret-store/secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat: add emqx
  kubernetes/main/apps/database/emqx/app/helmrelease.yaml
  kubernetes/main/apps/database/emqx/app/kustomization.yaml
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
  kubernetes/main/apps/database/emqx/cluster/ingress.yaml
  kubernetes/main/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/main/apps/database/emqx/cluster/secret.sops.yaml
  kubernetes/main/apps/database/emqx/ks.yaml
  kubernetes/main/apps/database/emqx/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/emqx/secret-store/kustomization.yaml
  kubernetes/main/apps/database/emqx/secret-store/rbac.yaml
  kubernetes/main/apps/database/emqx/secret-store/secret.sops.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/flux/repositories/helm/emqx.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(cert-manager): use DNS-over-HTTPS
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(renovate): update config
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: area/github

feat: remove talos support
  .envrc
  .gitignore
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Workstation/Archfile
  .taskfiles/Workstation/Brewfile
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

chore(cloudflared): add topology spread constraints
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(ingress-nginx): set replica count to 2
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

cfeatrenovate): add dragonfly operator group
  .github/renovate/groups.json5
Labels: area/github

feat: tune resources requests
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/external-secrets/ks.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/mqtt-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/postgres-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/secretstore.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-deploy-key.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-initdb-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/postgres-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/namespace.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
Labels: area/kubernetes, cluster/main

feat: add home-assistant
  kubernetes/main/apps/home-automation/home-assistant/app/config-secret.yaml
Labels: area/kubernetes, cluster/main
