Repository prehor/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - ansible/**/*
          - scripts/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - .sops.yaml
          - kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile*
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/storage/**/*
          - kubernetes/storage/**/*

fix(reloader): use OCI helm repo
  kubernetes/main/flux/repositories/helm/stakater.yaml
  kubernetes/storage/flux/repositories/helm/stakater.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: pin flux-local to v5.3.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(reloader): use OCI helm repo
  kubernetes/main/flux/repositories/helm/stakater.yaml
  kubernetes/storage/flux/repositories/helm/stakater.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(cloudflared): increate net.core.rmem_max and net.core.rmem_max
  ansible/main/playbooks/cluster-prepare.yaml
Labels: area/ansible, cluster/main

fix(cloudflared): increase net.core.rmem_max and net.core.rmem_max
  ansible/main/playbooks/cluster-prepare.yaml
Labels: area/ansible, cluster/main

fix(emqx): fix secrets
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
  kubernetes/main/apps/database/emqx/cluster/secret.sops.yaml
  kubernetes/main/apps/database/emqx/secret-store/clustersecretstore.yaml
  kubernetes/main/apps/database/emqx/secret-store/rbac.yaml
  kubernetes/main/apps/database/emqx/secret-store/secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): aadd mqtt integration
  kubernetes/main/apps/home-automation/external-secrets/secrets/emqx-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/secret.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): add mqtt integration
  kubernetes/main/apps/home-automation/external-secrets/secrets/emqx-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/secret.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): add mqtt integration
  kubernetes/main/apps/home-automation/external-secrets/secrets/emqx-secret.yaml
  kubernetes/main/apps/home-automation/external-secrets/secrets/kustomization.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-secret.sops.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/secret.yaml
Labels: area/kubernetes, cluster/main

feat: add ebusd
  kubernetes/main/apps/home-automation/ebusd/app/config-deploy-key.sops.yaml
  kubernetes/main/apps/home-automation/ebusd/app/config-secrets.sops.yaml
  kubernetes/main/apps/home-automation/ebusd/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/ebusd/app/kustomization.yaml
  kubernetes/main/apps/home-automation/ebusd/app/secret.yaml
  kubernetes/main/apps/home-automation/ebusd/ks.yaml
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: add flux-image-test to GitHub workflows
  .github/workflows/flux-image-test.yaml
Labels: area/github

chore(emqx): use standard Helm repository interval
  kubernetes/main/flux/repositories/helm/emqx.yaml
Labels: area/kubernetes, cluster/main

feat(cilium): disable envoy
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(cilium): use lbipam.cilium.io/ips annotation instead of obsoleted io.cilium/lb-ipam-ips
  cilium-sysdump-20240804-184144.zip
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(cillium): revert update chart cilium ( 1.15.7 → 1.16.0 )
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(taskfiles): add check for existing sops.-age secret
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

feat: add prometheus-operator-crds
  .taskfiles/Flux/Taskfile.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/namespace.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/ks.yaml
  kubernetes/storage/apps/observability/kustomization.yaml
  kubernetes/storage/apps/observability/namespace.yaml
  kubernetes/storage/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/storage/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/storage/apps/observability/prometheus-operator-crds/ks.yaml
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/storage

fix: container resources
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/emqx/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/autoscaler/helmrelease.yaml
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/storage/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/kes/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(prometheus-operator-crds): add missing helm repository
  kubernetes/main/apps/observability/prometheus-operator-crds/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/prometheus-community.yaml
  kubernetes/storage/apps/observability/prometheus-operator-crds/ks.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/prometheus-community.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: bjw-s is now bernd-schorgers
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/storage/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/kes/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

revert: bernd-schorgers changed back to bjw-s
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/storage/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
  kubernetes/storage/apps/storage/minio/kes/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bjw-s.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(helm): update chart cilium to v1.15.8
  ansible/main/playbooks/templates/custom-cilium-helmchart.yaml
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

fix(minio): increase the memory limit to 3 GB
  kubernetes/storage/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(home-assistant): saddauthorization for default mqtt topics
  kubernetes/main/apps/home-automation/home-assistant/app/emqx-init-secret.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container): update image public.ecr.aws/emqx/emqx ( 5.7.2 → 5.8.0 )"
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix(ebud): fix ssh key files paths
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container): update image public.ecr.aws/emqx/emqx ( 5.7.2 → 5.8.0 )"
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

feat(ebusd): increase device latency
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(emqx): do not retain old stateful set nfter ucluster pgrade
  kubernetes/main/apps/database/emqx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ebusd): tune device latency
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ebusd): tune device latency
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ebusd): tune device latency
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): removed usbip-attach sidecar container
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/rules/nabucasa-skyconnect-device.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): speed up upgrades by preloading container images
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ebusd): speed up upgrades by preloading container images
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(github): add prevent-merging action
  .github/workflows/prevent-merging.yaml
Labels: area/github

fix(github/workflow/prevent-merginc): switch to mheap/github-action-required-labels action
  .github/workflows/prevent-merging.yaml
Labels: area/github

fix(home-assistant): fix preload-images pod volumes
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ebusd): fix preload-images pod volumes
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant): fix preload-images pod volumes
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
