Repository prehor/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/storage

fix(home-assistant): run the preload-images pod on the same node as the application pod
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ebusd): run the preload-images pod on the same node as the application pod
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

remove unnecesary file
  cilium-sysdump-20240804-184144.zip
Labels: none

fix(multus): fix multus-shim-installer if multus-shim exists
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(home-assistant): mount config volume in code-server container
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(multus): preload images
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(multus): temporarily disable multus before k3s upgrade to v1.31.2
  kubernetes/storage/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(k3s): k3s v1.31.2+k3s1 changed CNI bin location to /var/lib/rancher/k3s/data/cni
  ansible/storage/playbooks/cluster-installation.yaml
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/kustomization.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

fix: the preload-images job must be run with the default serviceAccount
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(k3s): k3s v1.31.2+k3s1 changed CNI bin location to /var/lib/rancher/k3s/data/cni
  ansible/main/playbooks/cluster-installation.yaml
  ansible/main/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/multus/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main

Add test Home Assistant
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/test/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/test/kustomization.yaml
Labels: area/kubernetes, cluster/main

Deactivate test Home Assistant
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

Switch to eBus Adapter
  kubernetes/main/apps/home-automation/ebusd/app/config-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

core(external-secrets): enable debug logging
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

core(external-secrets): enable debug logging
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ebusd): try the stock configuration
  kubernetes/main/apps/home-automation/ebusd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm)!: Update chart snapshot-controller ( 3.0.6 → 4.0.0 )"
  kubernetes/main/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm)!: Update chart snapshot-controller ( 3.0.6 → 4.0.0 )"
  kubernetes/storage/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(cloudnative-pg): upgrade cluster to postgres 17
  kubernetes/main/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/postgres17.yaml
  kubernetes/main/apps/database/cloudnative-pg/secret-store/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Fix HACS modules loading
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(cloudnative-pg): remove postgres16 cluster
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/imagecatalog.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(emqx): do not retain old stateful set nand pvc ater cluster upgrade
  kubernetes/main/apps/database/emqx/app/helmrelease.yaml
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): publish to the Internet
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(volsync) set VOLSYNC_CACHE_CAPACITY and unlock restic
  kubernetes/main/apps/home-automation/ebusd/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/templates/volsync/backblaze/replicationsource.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant) unlock restic
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

fix(volsync) fix default value for restic unlock
  kubernetes/main/templates/volsync/backblaze/replicationsource.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix(cloudnative-pg): start with fresh cluster
  kubernetes/main/apps/database/cloudnative-pg/cluster/postgres17.yaml
Labels: area/kubernetes, cluster/main

fix(cloudnative-pg): fix barman backups retention policy
  kubernetes/main/apps/database/cloudnative-pg/cluster/postgres17.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant) pause after iownload foor data propagation
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(external-secret): CAProvider.namespace must be empty with SecretStore
  kubernetes/main/apps/home-automation/external-secrets/stores/secretstore.yaml
Labels: area/kubernetes, cluster/main

feat: use kustomize components for templates
  kubernetes/main/apps/home-automation/ebusd/app/kustomization.yaml
  kubernetes/main/apps/home-automation/ebusd/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/components/volsync/backblaze/externalsecret.yaml
  kubernetes/main/components/volsync/backblaze/kustomization.yaml
  kubernetes/main/components/volsync/backblaze/replicationsource.yaml
  kubernetes/main/components/volsync/kustomization.yaml
  kubernetes/main/components/volsync/minio/externalsecret.yaml
  kubernetes/main/components/volsync/minio/kustomization.yaml
  kubernetes/main/components/volsync/minio/replicationdestination.yaml
  kubernetes/main/components/volsync/minio/replicationsource.yaml
  kubernetes/main/components/volsync/pvc.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/config-secret.sops.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/emqx-init-secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/external-secrets/stores/rbac.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/config-secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/config-secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/config-secret.sops.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/config-secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat: add zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(cloudnative-pg): pg_rewind requires full_page_writes on
  kubernetes/main/apps/database/cloudnative-pg/cluster/postgres17.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - ansible/**/*
          - scripts/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - .sops.yaml
          - kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile*
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/storage/**/*
          - kubernetes/storage/**/*
