Repository prehor/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/storage

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - ansible/**/*
          - scripts/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - .sops.yaml
          - kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile*
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/storage/**/*
          - kubernetes/storage/**/*

feat(home-assistant): switch to SQLite
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(home-assistant): remove volsync lock
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

fix(deps): update chart ingress-nginx (4.13.1 → 4.13.2)
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ebusd): restore volume capacity
  kubernetes/main/apps/home-automation/ebusd/ks.yaml
Labels: area/kubernetes, cluster/main

fix(deps): update chart ingress-nginx (4.13.2 → 4.13.3)
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zigbee2mqtt): temporarily disable zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zigbee2mqtt): enable zigbee2mqtt
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zigbee2mqtt): enable debug logging
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zigbee2mqtt): more memory for code-server
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zigbee2mqtt): debug log to file
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zigbee2mqtt): disable debug logging
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(deps): update chart ingress-nginx (4.13.3 → 4.14.0)
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(deps): update chart ingress-nginx (4.14.0 → 4.14.1)
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(home-assistant): temporarily increase size of volsync cache volume and unlock volsync
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-nginx): disable external ingress-nginx due to CVE-2026-42945
  kubernetes/main/apps/network/ingress-nginx/ks.yaml
Labels: area/kubernetes, cluster/main

feat(dragonfly): remove unused app
  kubernetes/main/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(emqx-operator): emqx-operator 2.3.0 and higher require emqx 5.9 which does not support clustering
  .renovate/allowedversions.json5
Labels: none

chore(home-assistant): temprarily switch to internal ingress
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(multus): disable multus
  kubernetes/storage/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore: disable external-services
  kubernetes/main/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(cilium): containerRuntime.integration was deprecated in v1.14 and has been removed in v1.16
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

chore: disable storage.rx.cz DNS query redirection
  kubernetes/main/apps/kube-system/coredns/config/kustomization.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(deps): update chart cilium (1.15.8 → 1.19.4)"
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

Revert "fix(cilium): containerRuntime.integration was deprecated in v1.14 and has been removed in v1.16"
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

chore(home-assistant): unlock volsync backup
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

chore(multus): disable multus
  kubernetes/storage/apps/kube-system/kustomization.yaml
  kubernetes/storage/apps/kube-system/multus/ks.yaml
Labels: area/kubernetes, cluster/storage

chore(cilium:) containerRuntime.integration was deprecated in v1.14 and has been removed in v1.16
  ansible/main/playbooks/templates/custom-cilium-helmchart.yaml
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

Revert "feat(deps): update chart cilium (1.15.8 → 1.19.5)"
  ansible/storage/playbooks/templates/custom-cilium-helmchart.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

feat(ingress-haproxy): add ingress-haproxy for external access
  kubernetes/common/flux/repositories/helm/haproxytech.yaml
  kubernetes/common/flux/repositories/helm/kustomization.yaml
  kubernetes/main/apps/network/ingress-haproxy/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-haproxy/external/kustomization.yaml
  kubernetes/main/apps/network/ingress-haproxy/ks.yaml
  kubernetes/main/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-haproxy): add ingress-haproxy for external access
  kubernetes/main/apps/network/ingress-haproxy/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-haproxy): add ingress-haproxy for external access
  kubernetes/main/apps/network/ingress-haproxy/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-haproxy): add ingress-haproxy for external access
  kubernetes/main/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/main/apps/network/ingress-haproxy/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-haproxy): add ingress-haproxy for external access
  kubernetes/main/apps/network/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/main

feat(ingress-haproxy): add ingress-haproxy for external access
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(rook-ceph-cluster):: Ceph 19.2.6 requires aes256k keys, but we cannot use them with the CSI driver for now
  kubernetes/main/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(k8s-gateway): k8s-gateway has moved to Codeberg
  kubernetes/storage/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage
